<<<<<<< HEAD
/*
 * === Global style ===
 */

/* Global style */
body {
            margin: 0;
            padding: 0;
=======
body {
    margin: 0;
    padding: 0;
>>>>>>> 351f07a1d6cb2a0765325a2721a9aa5651f54f3b
}
