footer {
	background-color: #00FF00;
	height: 60px;
	width: 100%;
	position: fixed;
	bottomL 0;
}

footer div {
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
}
footer span {
	color: white;
	font-weight: bold;
}

