<<<<<<< HEAD
/*
 * === Header style ===
 */

/* Header style */
header {
            background-color: #f00;
            height: 70px;
            width: 100%;
=======
header {
	background-color: #FF0000;
	height: 70px;
	width: 100%
>>>>>>> 351f07a1d6cb2a0765325a2721a9aa5651f54f3b
}
