<<<<<<< HEAD
/*
 * === Footer style ===
 */
/* Footer style */
footer {
            border-top: 1px solid #CCCCCC;
            text-align: center;
            background-color: #ffffff;
            height: 60px;
            width: 100%;
            bottom: 0;
            justify-content: center;
            position: relative;
            align-items: center;
            display: flex;
=======
footer {
    color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
>>>>>>> 351f07a1d6cb2a0765325a2721a9aa5651f54f3b
}
